.env
.env.*
!.env.example
credentials/
credentials/youtube_client_secret.json
credentials/youtube_token.json



# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

build/temp_pptx/

# Generated project files
output/